@media (min-width: 375px) {
    body {
        margin: 0;
        padding: 0;
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
    }
    
    h1 {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 70px;
    }
    
    .header {
        width: 100%;
        margin-bottom: 50px;
    }
    
    .herotext {
        margin-bottom: 50px;
    }

    .heroimage1 {
        display: block;
        object-fit: contain;
    }

    .heroimage1 img {
        width: 100%;
    }
    
    .headertext {
        padding: 5%;
    }
    .headertext h1 {
        font-family: 'Big Shoulders Display', cursive;
        line-height: 88px;
    }
    
    .container {
        margin-bottom: 50px;
        margin: 0;
        padding: 0;
    }
    
    .container img {
        width: 100vw;
    }
    
    .bodytext {
        padding: 5%;
    }
    
    button {
        margin-left: 5%;
    }
    
    .location-btn {
        width: 260px;
        height: 83px;
        background: linear-gradient(to right, black 70%, #D5966C 30%);
        color: white;
        border: none;
      }
    
    .location-btn img {
        padding-left: 30%;
    }
    
    .galleryimage1 {
        /* height: 320px; */
        padding-right: 5%;
    }
    
    .galleryimage2 {
        /* height: 480px; */
        margin-bottom: 25px;
        padding-right: 5%;
    }
    
    .galleryimage3 {
        /* height: 200px; */
        margin-bottom: 25px;
        padding-right: 5%;
    }
      
    .beinspired {
        background-color: black;
        color: white;
        padding: 10%;
        padding-bottom: 25px;
        margin-bottom: 10%;
        width: 100vw;
    }
    
    
    .footer {
        background-color: black;
        color: white;
        padding: 10%;
        font-family: 'Outfit', sans-serif;
        font-size: 18px;
        margin-top: 100px;
        overflow: hidden;
    }
    
    .footericons li {
        display: inline-block;
        padding-right: 20px;
    }
    
    .home-btn {
        width: 260px;
        height: 83px;
        padding: 20px;
        background: linear-gradient(to left, black 70%, #D5966C 30%);
        color: white;
        border: none;
        position: absolute;
        margin: 0;
    }
    
    .home-btn img {
        padding-right: 30%;
    }
    
    .locationinfo {
        background-color: black;
        color: white;
        padding: 10%;
        height: 493px;
    
    }
    
    .locationstreet h3 {
        color: #D5966C;
    }
    
    .locationfooter {
        background-color: #D5966C;
        color: black;
        padding: 10%;
    }
}
@media (min-width: 768px) {

    h1 {
        font-size: 36px;
    }

    .heroimage1 {
        position: relative;
    }

    .header {
        position: relative;
    }

    .herotext {
        width: 339px;
        height: 410px;
        position: absolute;
        top: 50px;
        right: 100px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 5px;
        width: 689px;
        height: 1131px;
        padding: 10%;
    }

    .container .headertext {
        grid-row: 1;
        grid-column: 1;
        height: 5vh;
    }

    .headertext h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .galleryimage1 {
        grid-row: 1;
        grid-column: 2;
    }

    .galleryimage2 {
        grid-row: 2/3;
        grid-column: 1;
    }

    .galleryimage3 {
        grid-row: 2;
        grid-column: 2;
    }

    .beinspired {
        grid-row: 3;
        grid-column: 2;
        margin-top: 20px;
    }

}

